.horizontal {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: none;
	border-left: none;
	border-right: none;
}
.option-bar {
	background-color: whitesmoke;
	padding: 1rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid GAINSBORO;
}
