.unvisited {
	background-color: lightslategrey;
}
.visited {
	background-color: blueviolet;
}
.wall {
	background-color: orange;
}
.goal {
	background-color: red;
}
.start {
	background-color: greenyellow;
}
