.unvisited {
	background-color: #e5e7e9;
}
.visited {
	background-color: #d7bde2;
}
.path {
	background-color: #34495e;
}
.wall {
	background-color: coral;
}
.goal {
	background-color: red;
}
.start {
	background-color: greenyellow;
}

.field {
	user-select: none;
}
