.unvisited {
	background-color: lightslategrey;
}
.visited {
	background-color: lightpink;
}
.path {
	background-color: magenta;
}
.wall {
	background-color: orange;
}
.goal {
	background-color: red;
}
.start {
	background-color: greenyellow;
}
